@import '../../styles/base.scss';
@import '../../styles/style.scss';

.body {
  background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
}
.homeTitle{
  min-height: calc(100vh - #{ $footerHeight * 2});
  user-select: none;
}

// @media screen and (max-width: 994px) {
//   .body {
//     width: 100vw;
//   }
// }
